#module {
  .module {
    .catalog {
    
      .catalog__list {
        display: grid;
        margin: 0 -10px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      }
      .catalog__brand {
        cursor: pointer;
        margin: 10px;
        transition: .2s;
        padding: 20px 15px;
        text-align: center;
        border-radius: 10px;
        // background-color: #fff;
        // box-shadow: 0 0 10px #00000010;
        border-bottom: 2px solid transparent;
        
        img {
          width: 50px;
          height: 50px;
          margin: auto;
        }
        
        &:hover {
          // border-bottom: 2px solid #545454;
          box-shadow: 0 0 10px #00000050;
        }
      }
    }
  }
}
